<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYCoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>941473461EB73437003A8EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9414735F1EB73437003A8EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9414736A1EB73437003A8EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
